/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Libre+Baskerville&family=Ubuntu:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Libre+Baskerville&family=Ubuntu:wght@300;500&display=swap');
*{
    margin:0;
    padding:0;
}
.const{
	display: flex;
	flex-wrap: wrap;
}
.logo {
    height: 105px;
    padding: 11px;
    width: 307px;
  }
.navigation{
    height: 38px;
    background-color: red;
   
}

header nav ul li{
    font-family: 'Ubuntu', sans-serif;
    float: left;
    list-style: none;
    padding: 10px 39px;
    color: white;
    text-decoration: none;
  }
  header nav ul li a{
    text-decoration: none;
    color: white;
  }

  header nav ul li button{
    font-family: 'Ubuntu', sans-serif;
    border:2px solid white;
  }
  nav ul li button:hover{
  color: red;
  }

  .loginbutton{
    height: 24px;
width: 94px;
  }
  .login{
    float: right;
   padding-right: 89px;
  }
  /* styiling login ///////////////////////
  .//////////////////////////////////////////////////////////////////////////
  .///////////////////////////////////////////////////////////////////////////////////*/
  #login-form
{
    display: none;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:white;
	padding:10px;
    overflow: hidden;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #f19c9c66;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
    font-family: 'Ubuntu', sans-serif;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #f79393;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #ea1313;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #f79393;;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:black;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:black;
	font-size: 15;
}

.beech{
    background-color: blue;
    height:800px;
}
 
footer{
    background-color: yellow;
    height:500px;
}


